{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Django Example</title>
    <link rel="stylesheet" href="{% static 'main/style/style.css' %}">
  </head>

  <body>
    <header>
        
        <div>
            <h1>
                <a href="{% url 'posts' %}">
                    Blog Example
                </a>
            </h1>
        </div>
        

    </header>
    <div class="container">
      <div class="column">
        


      </div>
    </div>
    <footer>
      <p>&copy; 2024 Django Example</p>
    </footer>
  </body>
</html>